@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

* {
    font-family: 'Roboto Mono';
}

body {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: auto;
}

#question {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.2rem;
}

#rules-container {
    padding: 1rem;
}

#questions-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
}

#welcome {
    text-align: center;
}

h2 {
    display: flex;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin: 40px 0;
}

i {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    padding: 10px;
}

ul {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-inline-start: 0px;
}

.quiz-container {
    width: 80%;  

}

.btn-grid {
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    padding: 1rem;
    gap: 1rem;
    margin: 20px 0;
    flex-wrap: nowrap;
}

.btn {
    padding: 1rem;
    font-size: 0.9rem;
    border-radius: 5px;
    color: white;
    background-color:rgb(54, 20, 85);
    border: none;
}

.btn:hover {
    background-color: rgb(184, 122, 243);
}

.start-btn, .next-btn {
    font-size: 1rem;
    font-weight: bold;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hide {
    display: none;
}

#timer-container {
    font-size: 1rem;
    color: red;
    padding: 1rem;
    margin-bottom: 3rem;
}

#timer {
    display: flex;
    justify-content: right;
    align-items: center;
}

#show-results {
    display: flex;
    justify-content: center;
    align-items: center;

}